@import './markdown.css';

#app {
  @apply flex flex-col h-screen justify-center items-center;
}

html.dark {
  @apply bg-gray-800;
}

*,
*::after,
*::before {
  @apply transition-colors;
}

#nprogress {
  pointer-events: none;

  .bar {
    @apply bg-teal-600 opacity-75;

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
  }
}

.nav {
  .nav-item {
    @apply flex justify-center items-center
      p-3 mx-2 bg-white text-gray-800 text-2xl shadow-lg relative
      outline-none rounded-sm border-2 border-transparent
      focus:(border-gray-800 border-opacity-15)
      hover:(bg-black bg-opacity-25)
      dark:(text-white bg-gray-700)
      dark:focus:(border-white border-opacity-15)
      dark:hover:(bg-white bg-opacity-25);

    &.locale-switch::after {
      @apply absolute bottom-1 left-1
        text-sm opacity-40
        inline-block px-1 py-0.5 rounded-sm
        bg-gray-800 text-white
        dark:(bg-white text-gray-800);

      content: attr(data-text);
    }
  }
}
